html {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
html {
    height: 100%;
    width: 100%;
}

.font-weight-medium {
    font-weight: 500;
}

.my-projects-maximize {
    font-size: 1.2rem;
    padding-right: 16px;
    position: relative;
    top: 1px;

    &::after {
        content: "";
        background-color: $body-color;
        width: 1px;
        height: 26px;
        position: absolute;
        right: 4px;
    }
}



.input-group-text.icon-search,
.projects-search {
    border: 2px solid #DFE1E5;
}

.input-group-text.icon-search {
    background-color: transparent;
    color: $primary;
    border-left: none;

    &.icon {
        padding-right: 12px;
    }

    &::before {
        font-size: 1.1rem;
    }
}

.projects-search {
    border-right: none;

    &.form-control {
        padding-left: 14px;
        min-width: 182px;
    }

    +.input-group-append {
        background-color: #fff;
    }
}

.filter {
    margin-left: 12px;
    margin-right: 12px;

    .icon-filter {
        background-color: #6F72761F;
        height: 32px;
        width: 32px;
        font-size: 1.2rem;


        &::before {
            position: relative;
            left: -3px;
        }

        &:hover {
            background-color: rgba($body-color, .5);
            color: #fff;
        }
    }
}

.projects {
    margin-bottom: .5rem;

    .dropdown {
        margin-bottom: 1rem;
    }
}

.dropdown-toggle {
    padding-right: 34px;

    .icon-arrow-down {
        font-size: 1.5rem;
        position: absolute;
        top: 1px;
        right: 8px;

    }

    &::after {
        display: none;
    }

    &.position-relative {
        &:hover {
            cursor: pointer;
        }

        .icon-arrow-down {
            top: -6px;
        }
    }
}

.media-initial {
    width: 40px;
    height: 40px;


    h6 {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        line-height: 40px;
    }
}

.project-name {
    font-size: 0.875rem;
    margin-bottom: .4rem;

}

.project-info {
    font-size: 0.75rem;
    margin-bottom: 0;
}

.project-name,
.project-info {
    max-width: 10.9rem;
}

.project-footer {
    background-color: #fff;
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        font-size: 0.75rem;
        margin-bottom: 0;
    }


}

.project-nav {
    display: flex;

    .card-link {
        position: relative;




    }


}

.project-card {

    margin-left: 13px;
    margin-bottom: 13px;

    &:hover {
        .before-hover {
            display: none;
        }

        .after-hover {
            display: flex;
        }

        .icon-options {
            display: block;
        }
    }

    .icon-options {
        position: absolute;
        right: 1rem;
        top: .35rem;
        font-size: 1.1rem;
        display: none;

        &:hover {
            cursor: pointer;
        }

        &::before {
            color: rgba($body-color, .54);
        }
    }

    .card-body {
        border-top-left-radius: $card-border-radius;
        border-top-right-radius: $card-border-radius;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;

    }

    //projects card theme

    .blue {
        background-color: #DEEBFF;

        .media-initial {
            background-color: var(--primary);
        }
    }

    .purple {
        background-color: #C0B6F2;

        .media-initial {
            background-color: #403294;
        }
    }

    .green {
        background-color: #ABF5D1;

        .media-initial {
            background-color: #006644;
        }
    }

    .red {
        background-color: #FFBDAD;

        .media-initial {
            background-color: #DE350B;
        }
    }

    .sky-blue {
        background-color: #B3F5FF;

        .media-initial {
            background-color: #008DA6;
        }
    }

    .orange {
        background-color: #FFF0B3;

        .media-initial {
            background-color: #FF8B00;
        }
    }

    .black {
        background-color: #DFE1E6;

        .media-initial {
            background-color: #091E42;
        }
    }
}

.after-hover {
    display: none;

    .card-link {
        margin-left: 9px;
        color: $body-color;
        font-size: 1.5rem;
        height: 30px;

        &:hover {
            color: var(--primary);
        }

    }
}

.before-hover {


    .card-link {
        margin-left: 0;
        width: 20px;
        height: 20px;

        &::before {
            content: "";
            width: 8px;
            height: 8px;
            background-color: #E4E8F0;
            position: absolute;
            border-radius: 12px;
            top: 6px;
            right: 0;

        }
    }
}


.project-footer {
    border: 2px solid #E4E8F0;
    border-top: 0;
    border-bottom-left-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;
}

.projects-card {
    display: flex;
    flex-wrap: wrap;
    margin-left: -13px;
}

.main-nav {

    width: 62px;
    background-color: #091E42;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.main-nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        margin-top: .7rem;
        margin-bottom: 1.2rem;
    }

    .icon {
        color: #fff;
        font-size: 1.5rem;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            text-decoration: none;

        }
    }

    .active {
        position: relative;

        .icon {
            background-color: #fff;
            color: var(--primary);
        }

        &::before {
            content: "";
            height: 24px;
            width: 2px;

            background-color: #fff;
            position: absolute;
            left: -10px;
            top: 8px;
        }
    }
}

@media screen and (min-height:900px) {
    .main-nav-ul-2 {
        margin-bottom: 80px;
    }
}


.main {
    background-color: #FAFBFC;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;


    // @include media-breakpoint-up(lg) {}
}

.sub-nav-logo {
    padding: 18px;

}



.sub-nav {


    .nav {
        margin-left: 8px;
    }

    .nav-item {
        width: 171px;
    }

    .nav-link {
        position: relative;
        padding: 9px 10px 9px 46px;

        &:hover {
            color: var(--primary);
        }
    }

    .icon {
        font-size: 1.5rem;
        position: absolute;
        top: .2rem;
        left: .6rem;
    }
}

.toggle-nav {
    border: 1px solid;
    border-color: var(--primary);
    border-radius: 15px;
    width: 24px;
    height: 24px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    background-color: var(--primary);
    color: #fff;
    position: relative;
    left: -19px;

    &::before {
        line-height: 11px;
    }

    &:hover {
        color: #fff;
    }
}

.toggled {
    .toggle-nav {
        font-size: 24px;
        background-color: #fff;
        color: var(--primary);
        border-color: #DFE1E5;
        left: -34px;
        z-index: 900;

        &::before {
            content: "\6e";
        }
    }
}