html {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
html {
    height: 100%;
    width: 100%;
}

.font-weight-medium {
    font-weight: 500;
}

.my-projects-maximize {
    font-size: 1.2rem;
    padding-right: 16px;
    position: relative;
    top: 1px;

    &::after {
        content: "";
        background-color: $body-color;
        width: 1px;
        height: 26px;
        position: absolute;
        right: 4px;
    }
}



.input-group-text.icon-search,
.projects-search {
    border: 2px solid #DFE1E5;
}

.input-group-text.icon-search {
    background-color: transparent;
    color: $primary;
    border-left: none;

    &.icon {
        padding-right: 12px;
    }

    &::before {
        font-size: 1.1rem;
    }
}

.projects-search {
    border-right: none;

    &.form-control {
        padding-left: 14px;
        min-width: 182px;
    }
}

.filter {
    margin-left: 12px;
    margin-right: 12px;

    .icon-filter {
        background-color: #6F72761F;
        height: 32px;
        width: 32px;
        font-size: 1.2rem;


        &::before {
            position: relative;
            left: -3px;
        }

        &:hover {
            background-color: rgba($body-color, .5);
            color: #fff;
        }
    }
}

.dropdown-toggle {
    padding-right: 34px;

    .icon-arrow-down {
        font-size: 1.5rem;
        position: absolute;
        top: 1px;
        right: 8px;

    }

    &::after {
        display: none;
    }

    &.position-relative {
        &:hover {
            cursor: pointer;
        }

        .icon-arrow-down {
            top: -6px;
        }
    }
}

.media-initial {
    width: 40px;
    height: 40px;


    h6 {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        line-height: 40px;
    }
}

.project-name {
    font-size: 0.875rem;
    margin-bottom: .4rem;

}

.project-info {
    font-size: 0.75rem;
    margin-bottom: 0;
}

.project-name,
.project-info {
    max-width: 10.9rem;
}

.project-footer {
    background-color: #fff;
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        font-size: 0.75rem;
        margin-bottom: 0;
    }


}

.project-nav {
    display: flex;

    .card-link {
        position: relative;




    }


}

.project-card {
    &:hover {
        .before-hover {
            display: none;
        }

        .after-hover {
            display: flex;
        }
    }

    .icon-options {
        position: absolute;
        right: 1rem;
        font-size: 1.1rem;
        color: rgba($body-color, .54);
    }
}

.after-hover {
    display: none;

    .card-link {
        margin-left: 9px;
        color: $body-color;
        font-size: 1.5rem;
        height: 30px;

        &:hover {
            color: var(--primary);
        }

    }
}

.before-hover {


    .card-link {
        margin-left: 0;
        width: 20px;
        height: 20px;

        &::before {
            content: "";
            width: 8px;
            height: 8px;
            background-color: #E4E8F0;
            position: absolute;
            border-radius: 12px;
            top: 6px;
            right: 0;

        }
    }
}